{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- FONTS/ICONS -->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/all.min.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div class="menu">
                <img src="{% static 'img/menu.svg' %}" alt="" class="open-menu">
                <div class="menu-modal hidden">
                    <div class="icon-close">
                        <span id="close-menu"></span>
                    </div>
                    <ul>
                        <span>
                            <li><a href="{% url 'plataforma.home' %}">Home</a></li>
                            <li><a href="">Disciplinas</a></li>
                            <li><a href="{% url 'plataforma.sobre' %}">Sobre</a></li>
                        </span>
                        <li><a href="{% url 'plataforma.autenticacao' %}">
                            <i class="fa-solid fa-user"></i>
                        </a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            &copy;LukeMN - DATA ATUAL
        </footer>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>