{% extends 'plataforma/base.html' %}

{% block content %}
<div class="content">
    
    <section class="block-cursos">
        <a href="{% url 'plataforma.home' %}" class="icones">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2>Estudantes Matriculados</h2>
        <div>
            <ul>
                <li class="info-alunos"> 
                    <span>Nome: Teste 1</span>
                    <span>Idade: 21</span>
                    <span>E-mail: teste@teste.com</span>
                    <span>Média: 8.5</span>
                </li>
                <li class="info-alunos"> 
                    <span>Nome: Teste 2</span>
                    <span>Idade: 23</span>
                    <span>E-mail: teste2@teste.com</span>
                    <span>Média: 5.5</span>
                </li>
            </ul>    
        </div>
    </section>
</div>
{% endblock %}