{% extends 'plataforma/base.html' %}

{% block content %}
<div class="content">
    
    <section class="block-cursos">
        <a href="{% url 'plataforma.home' %}" class="icones">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2>Grade Curricular</h2>
        <div>
            <ul>
                {% for disciplina in disciplinas %}
                <li>{{ disciplina }}</li>
                {% endfor %}
            </ul>    
        </div>
    </section>
</div>
{% endblock %}